.password_input {
  position: relative;
}

.show_password {
  position: absolute;
  top: 0;
  right: 0.5rem;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.show_password img {
  width: 1.2rem;
}
