*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: black;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
div {
  font-size: inherit;
  font-weight: normal;
  text-wrap: balance;
  text-size-adjust: auto;
  overflow-wrap: break-word;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}

iframe {
  border: 0;
}

address {
  font: inherit;
}

input {
  width: 100%;
  background-color: #f2f5fd;
  padding: 10px;
  border-radius: 0.5rem;
}

input::placeholder {
  color: #9fa6ac;
}

.section_page {
  color: white;
  text-align: center;
  /* height: 100vh; */
  /* padding-block: 4rem; */
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.form_login {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 80%;
  margin-inline: auto;
}

.form_buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.form_buttons * {
  width: 45%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  color: black;
  border-radius: 0.5rem;
  transition: background-color 0.5s ease-in-out;
}

.form_buttons button {
  background-color: #14c871;
}

.form_buttons button:hover {
  background-color: teal;
}

.form_buttons a {
  background-color: teal;
}

.form_buttons a:hover {
  background-color: #14c871;
}

@media (min-width: 48em) {
  .form_login {
    max-width: 40rem;
  }
}

@media (min-width: 80em) {
}
