.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 100vh;
  padding: 4rem;
  text-align: center;
}
