/* components/ResponsiveTable.module.css */
.tableContainer {
  overflow-x: auto;
}

.responsiveTable {
  width: 100%;
  border-collapse: collapse;
}

.responsiveTable th,
.responsiveTable td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: red;
}

.responsiveTable th {
  background-color: #f2f2f2;
}
